.desktop{
    background-color: white;
    height: 530px;
    width: 660px;
    border-radius: 5px;
    box-shadow: 0 15px 35px hsla(218, 22%, 67%, 0.35);
    display: grid;
    grid-template-columns: 330px 330px;
    grid-template-rows: 250px 280px;
    overflow: hidden;
}

.desktop .first-section{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 40px;
}

.desktop .first-section h2{
    margin-bottom: 30px;
}

.desktop .first-section h3{
    color: var(--bright-yellow);
    margin-bottom: 15px;
}

.desktop .first-section p{
    color: var(--grayish-blue);
    line-height: 1.5;

}

.desktop .second-section{
    background-color: var(--cyan);
    color: white;
    padding: 40px;
}

.desktop .second-section h3{
    margin-bottom: 12px;
}

.desktop .price-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.desktop .price{
    font-size: 30px;
    margin-right: 12px;
}

.desktop .month{
    color: white;
    opacity: 0.5;
}

.desktop .second-section p{
    margin-bottom: 45px;
}

.desktop .btn{
    width: 95%;
    padding: 15px 0;
    text-align: center;
    background-color: var(--bright-yellow);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 15px 35px hsla(218, 22%, 67%, 0.35);
    cursor: pointer;
}

.desktop .third-section{
    background-color: hsla(179, 62%, 43%, 0.8);
    color: white;
    padding: 40px;
}

.desktop  .list{
    font-size: 15px;
    list-style: none;
    color: white;
    opacity: 0.7;
    line-height: 1.5;
    margin-top: 15px;
}